<div class="header" (click)="navigateToDishes()">
  <img src="../../assets/arrow.png" alt="" width="25px" />
  <p>CHECKOUT</p>
</div>
<div class="slider">
  <div class="slider-container">
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
    <app-checkout-list></app-checkout-list>
  </div>
</div>

<div class="chk-footer">
  <div class="price">
    <p>Total</p>
    <p class="tot">${{ 11 * 450 }}</p>
  </div>

  <button style="width: 200px; height: 37px; margin-right: 1rem;" type="button" class="btn btn-dark">
    Proceed To Payment
  </button>
</div>
