    <div class="card-container">
        <img src="../../assets/banana-leaf rice.png" alt="" width="220px" height="150px">

    <div class="total">
        <div class="descrip">
            <h3>{{title}}</h3>
            <p>Price Per Item ${{price}}</p>
            <div>
                <span>--</span> {{count}} <span>+</span>
            </div>
        </div>
        <div class="cross">
            <p>${{price}}.00</p>
            <img src="../../assets/cross.png" alt="" width="20px" height="20px">
        </div>
    </div>
    </div>
