<form action=""  [ngClass]="{'formNone':!isShow}">
  <label for="login">ENTER OTP</label>
  <input type="number" name="phone-no" id="phone-no" />

  <label class="Terms-head" style="font-size: 15px"
    >Resend OTP<span style="margin-left: 1rem; font-weight: 400"
      >{{countdown$ | async}}</span
    ></label
  >
  <label class="Terms-text"
    >Check your Phone for OTP.Dont Share this OTP to another one other than
    you</label
  >
  <app-button [value]="buvalue" [visible]="visible" (action)="navi($event)"></app-button>
</form>
