<div class="container1">
  <h1 class="title">ORDER EAT REPEAT</h1>
  <img src="../../assets/sandwich.png" alt="" height="280px" />
</div>
<hr width="92%" style="margin-left: 2.5em" />

<div class="container2">
  <app-bcard></app-bcard>
  <app-bcard></app-bcard>
  <app-bcard></app-bcard>
  <app-bcard></app-bcard>
</div>

<hr width="92%" style="margin: 2rem 0 0 2.5em" />

<footer>
  <div class="foot-text">
    <p class="title">FOOD</p>
    <p class="email">FOOD&#64;gmail.com</p>
    <p class="location">India | Australia | USA | UK | Japan | Mexico | USSR</p>
  </div>
  <img src="../../assets/map-location.png" alt="" height="270px" width="550px">
</footer>

<footer style="margin:0 0 0 2rem">
  COPYRIGHT &#64; FOOD
</footer>