.container {
  &1 {
    padding: 2rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem 0 6rem 0;

    .title {
      font-family: "Julius Sans One";
      font-weight: 400;
      font-size: 4.5rem;
      width: 20%;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 4rem 0.3rem 2rem;
  margin: 2rem 0 0 0;
  .foot-text {
    .title {
      font-size: 3rem;
      font-weight: 700;
      padding: 0 2rem;
    }
    .email {
      padding: 1rem 2rem;
    }
    .location {
      padding: 0 2rem;
    }
  }
}
