<div class="card">
  <div class="data">
    <img src="../../assets/banana-leaf rice.png" alt="" width="110px" />
    <div>
      <h3>{{ titl }}</h3>
      <p>price per item ${{ cost }}</p>
    </div>
    <img
      width="18"
      height="17"
      src="https://img.icons8.com/ios/50/cancel.png"
      alt="cancel"
    />
  </div>
<div class="total">
  <div class="items">
    <button class="btn btn-sm btn-light">--</button>
    <p style="font-size: .9rem;">{{ quantity }}</p>
    <button class="btn btn-sm btn-light">+</button>
  </div>
  ${{totalCost}}
</div>
</div>
