<form action="" [ngClass]="{ formNone: isDisplay }">
  <label for="login">LOGIN</label>
  <input
    type="number"
    name="phone-no"
    id="phone-no"
    placeholder="Enter your Phone Number"
  />

  <label for="Terms-head"
    >TERMS AND CONDITIONS</label
  >
  <div>
    <input
      [(ngModel)]="isChecked"
      [ngModelOptions]="{ standalone: true }"
      type="checkbox"
      name="phone-no"
      id="phone-no"
    />
    <label class="Terms-text"
      >{{termsCondition}}</label>
    >
  </div>
  <app-button
    [value]="buttontext"
    [visible]="isChecked"
    (action)="handleButtonAction($event)"
  ></app-button>
</form>
