.cardContainer {
  width: fit-content;
  max-width: 320px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  .name-count {
    margin: 1rem 0 0 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .count {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      p {
        font-weight: 300;
        margin: 0;
      }
    }
  }
  .rating {
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    .star {
      color: #f8e825;
    }
    gap: 10px;
    align-items: center;
    margin-bottom: 4px;
  }
}

.popup-container {
  width: 100%;
  height: 100vh;
  background: #0008;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;

  .card-img-top {
    width: 100%;
    object-fit: cover;
  }
  .cardBody {
    padding: 0.2rem;
    margin: 0.5rem;
    font-size: 1rem;
    // padding-left: 1rem;
    .cardText {
      font-size: 1.2rem;
    }
  }
  .close-btn {
    position: absolute;
    background: #000;
    color: #fff;
    top: 1em;
    right: 1em;
  }

  .flexActive {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &.show {
    opacity: 1;
  }
}

.marginTop {
  margin-top: 1rem;
}
