<div class="cardContainer" (click)="openPopup()" *ngIf="food">
  <img src="{{ food.image }}" alt="" width="340px" height="200px" />
  <div class="name-count">
    <p>{{ food.name }}</p>
  </div>
  <div class="rating">
    <p class="star">
      {{ food.rating }}
    </p>
    <img src="../../../assets/star.png" alt="" width="14" height="14" />
    <p>({{ food.totalRatings }})</p>
  </div>
</div>

<div
  class="popup-container"
  *ngIf="isPopupOpen"
  [ngClass]="{ show: isShow }"
  (click)="closePopup()"
>
  <div class="card" class="popup-content" (click)="stopPropagation($event)">
    <img class="card-img-top" src="{{ food.image }}" alt="Card image cap" />

    <div class="cardBody">
      <h2 class="card-text cardText">{{ food.name }}</h2>
      <p style="font-size: 12px" class="card-text cardText">
        {{ food.description }}
      </p>
      <p>{{ food.price | currency : "INR" }}</p>

      <div class="cardBody">
        <div style="display: flex" class="card-text">
          <p class="star">{{ food.rating }} stars</p>
          <p>({{ food.totalRatings }})</p>
        </div>
        <div class="flexActive marginTop">
          <button class="btn btn-sm" (click)="minusCount()">---</button>
          {{ count }}
          <button class="btn btn-sm" (click)="plusCount()">+</button>
        </div>
      </div>
      <div class="flexActive marginTop">
        <button (click)="addToBag()" class="btn">Add to Bag</button>
        <button (click)="navigateTocheckout()" class="btn btn-dark">
          Order Now
        </button>
      </div>
    </div>
    <div class="card-body close">
      <button class="btn close-btn" (click)="closePopup()">&times;</button>
    </div>
  </div>
</div>
