<div class="cardContainer" (click)="openPopup()" *ngIf="food">
  <img
    [src]="'data:image/png;base64,' + food.image"
    alt=""
    width="340px"
    height="200px"
  />
  <div class="name-count">
    <p>{{ food.name }}</p>
    <div class="count">
      <img src="../../assets/spoon.png" alt="" width="17px" height="17px" />
      <p>{{ count }}</p>
    </div>
  </div>
  <div class="rating">
    <p class="star">stars</p>
    <p>(231) 5.0 rating</p>
  </div>
</div>

<div
  class="card"
  class="popup-content"
  *ngIf="isPopupOpen"
  [ngClass]="{ show: isShow }"
>
  <img
    class="card-img-top"
    src="../../assets/banana-leaf rice.png"
    alt="Card image cap"
    style="width: 50%"
  />

  <div class="card-body">
    <h2 class="card-text">Sambar Rice</h2>

    <div class="card-body">
      <div style="display: flex" class="card-text">
        <p class="star">stars</p>
        <p>(231) 5.0 rating</p>
      </div>
      <div class="flexActive">
        <button class="btn btn-sm">---</button> {{ count }}
        <button class="btn btn-sm">+</button>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between">
      <button (click)="addToBag()" class="btn">Add to Bag</button>
      <button (click)="closePopup()" class="btn btn-dark">Order Now</button>
    </div>
  </div>
  <div class="card-body">
    <button class="btn close-btn" (click)="closePopup()">&times;</button>
  </div>
</div>
