.contain {

  // width: 100%;
  .bigText {
    display: flex;
    align-items: center;
    margin: 5rem 0 14rem 0;
    img {
      font-size: 17rem;
      font-weight: 700;
      margin: 0 auto;
    }
  }
}
