.bcardCont {
  display: flex;
  padding: 3rem;
  margin: 1.5rem 4rem 0 3rem;
  justify-content: space-between;
  &section {
    width: 40%;
    line-height: 1.5;
    h1 {
      margin-bottom: 1rem;
      font-size: 2.2rem;
      font-weight:500;
    }
    .para-btn {
      margin-left: 2em;
      p{
        font-size:1.1rem;
      }
      button{
        margin-top: 1em;
        font-size: 1rem;
        font-weight:500;
        background-color: white;
        border: .5px solid black;
      }
    }
  }
}
