<div class="contain">
  <navbar></navbar>
  <!-- <div class="bigText">
    <img src="../../assets/india.png" alt="" loading="lazy" height="450" />
  </div> -->
  <div class="categoryItems">
    <app-button
      *ngFor="let data of categoryData; let i = index"
      [value]="data.name"
      [visible]="true"
      [btnType]="data.id === selectedId ? 'primary' : 'secondary'"
      (click)="navigate(data.id)"
    ></app-button>
  </div>
  <dish-list [Type]="'In Offer!!'"></dish-list>
  <dish-list [Type]="'Today\'s Special'"></dish-list>
  <dish-list [Type]="'All dishes'"></dish-list>
</div>
